body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#right-side-nav {
  position: absolute;
  left: 0px;
}

#centered-logo{
  margin: auto;
    width: 100%;
}

ul.topNav li {
    float: right;
}

ul.topNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topNav li a:hover {
    background-color: #111;
}
