html{
  /*overflow: hidden;*/
  height: 100%;
}

body {

  height: 100%;
    /*overflow: auto;*/
  margin: 0;
  padding: 0;
  font-family: 'Quattrocento', serif;
}

#full-page{
  min-height: 720px;
  background-size: cover;
}

#main {
    height: 100%;
    transition: margin-left .5s;
    padding: 20px;
}

ul.topNav {
    list-style-type: none;
    position:relative;
    margin: 0;
    padding: 0;
    background-color: rgba(255,255,255,0.15);
    /*border-style:solid;
    border-left: rgba(0,0,0,0);
    border-color: rgba(200,0,0,0);
    border-top: rgba(0,0,0,0);
    border-right: rgba(0,0,0,0);*/
    /*border-bottom: black;*/
    overflow: hidden;
    /*background-color: r;*/
}

#right-side-nav {
  position: absolute;
  left: 0px;
}

#centered-logo{
  margin: auto;
    width: 100%;
}

ul.topNav li {
    float: right;
}

ul.topNav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topNav li a:hover {
    /*background-color: #111;*/
    color: #4e575c;
}

.sideNav {
    height: 922px; /* 100% Full-height */
    min-height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    z-index: 1; /* Stay on top */
    left: 0;
    background-color: rgba(0, 0, 0, 0.15);; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place content 60px from the top */
    transition: 0.2s;
    white-space:nowrap;
    /*border-style: solid;
    border-bottom: rgba(0,0,0,0);
    border-top: rgba(0,0,0,0);
    border-left: black;*/
 /* 0.5 second transition effect to slide in the sidenav */
}

.sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s
}

.sideNav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
